/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'cera-medium';
    src: url("Assets/Fonts/CeraProMedium.otf");
    font-display: swap;
}

@font-face {
    font-family: 'cera-light';
    src: url("Assets/Fonts/CeraProLight.otf");
    font-display: swap;
}

@font-face {
  font-family: 'cera-bold';
  src: url("Assets/Fonts/CeraProBold.otf");
  font-display: swap;
}

.cera-med{
  font-family: 'cera-medium';
}
.cera-light{
  font-family: 'cera-light';
}
.cera-bold{
  font-family: 'cera-bold';
}
.section-title{
  font-size: 200%;
  font-weight: 500 !important;
}
.my-hero-header{
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rotate-180 {
  transform: rotate(180deg);
}