@font-face {
    font-family: 'cera-med';
    src: url(Assets/Fonts/CeraProMedium.otf);
    font-display: swap;
}

@font-face {
    font-family: 'cera-light';
    src: url(Assets/Fonts/CeraProLight.otf);
    font-display: swap;
}

@font-face {
  font-family: 'cera-bold';
  src: url(Assets/Fonts/CeraProBold.otf);
  font-display: swap;
}

.cera-med{
  font-family: 'cera-med';
}
.cera-light{
  font-family: 'cera-light';
}
.cera-bold{
  font-family: 'cera-bold';
}
